body {
    background-color: darkcyan;
    color: white;
}

.mainTitle {
    text-align: center;
}

h1 {
    color: white;
    font-size: 54px;
}

.searchCriteriaTextBoxArea {
    width: 70%;
    padding: 10px;
    margin: auto;
}

.searchCriteria {
    color: blue;
    font-weight: bold;
    padding: 5px;
    width: 100%;
    max-width: 100%;
    text-align: left;
    margin: auto;
    border-radius: 6px;
}

.infoHeader {
    text-align: center;
}

.searchButton {
    font-weight: bold;
    border-radius: 5px;
    margin: auto;
    max-width: 300px;
    min-width: 150px;
    width: 100%;
    margin-bottom: 10px;
}

.submitButtons {
    width: 70%;
    height: 40px;
    margin: auto;
    min-width: 375px;
    max-width: 500px;
}

.submitButtonBing {
    float: left;
    width: 48%;
}

.submitButtonGoogle {
    float: right;
    width: 48%;
}

#submitButtonBing {
    background-color: #77FF77;
}

#submitButtonGoogle {
    background-color: #77FF77;
}

.searchResultReminder {
    /*font-weight: bold;*/
    font-size: 16px;
    margin: auto;
    text-align: center;
    width: 50%;
    color: whitesmoke;
    margin-bottom: 10px;
    min-width: 355px;
}

.resultContainer {
    margin: auto;
    width: 80%;
    margin-bottom: 5px;
    background-color: lightgray;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    min-width: 355px;
    overflow-x: hidden;
}

.resultTitle {
    font-size: 24px;
    margin-bottom: 2px;
}

.resultDescription {
    color: black;
    margin-bottom: 2px;
}

.resultLink {
    color: navy;
    margin-bottom: 2px;
}

.jsonSection {
    margin: auto;
    width: 80%;
    max-width: 420px;
    min-width: 305px;
}

.exportJsonButton {
    float: left;
    width: 48%;
    max-width: 200px;
    min-width: 150px;
}

.importJsonButton {
    float: right;
    width: 48%;
    max-width: 200px;
    min-width: 150px;
}

